.issue-container {
    border: 1px solid #F6F8FA!important;;
    border-radius: 6px;
    text-align: left!important;
    border-top: 1px transparent;
}
  
.issue-number {
font-size: 14px;
color: #999;
margin-right: 0.5rem;
}

.issue-title {
font-weight: bold;
color: black;
text-decoration: none!important;
}

.issue-summary {
margin-bottom: 2px;
}

.comment-icon {
    margin-right: 4px;
    opacity: 0.5;
}

.issue-user {
text-align: center;
margin-right: 1rem;
display: flex;
flex-direction: column;
justify-content: center;
}

.repo-icon {
    background: url('https://api.iconify.design/octicon:repo-16.svg') no-repeat center center / contain;
}