body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.footer{
  margin-top: 1rem;
  background-color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 13px;
  border-top: black;
  position: absolute;
}

.footer-nav {
  justify-content: space-between!important;
  padding-top: 30px!important;
  padding-bottom: 8px!important;
}

.header-icon {
  
  width: 30px!important;
  height: 47px!important;
  color: white;
  
}

.sub-header-icon {
  
  width: 17px!important;
  height: 31px!important;
  color: #22863a;
  
}

.issue-icon {
  
  width: 17px!important;
  height: 17px!important;
  color: #22863a;
}

.footer-icon {
  
  width: 25px!important;
  height: 40px!important;
  color: lightgray;
  
}

.header-nav {
  background: #24292E;
}

.header-text .nav-link {
  color: #FFFFFFFE!important;
}

.breadcrumb {
  background: #FAFBFC!important;
  font-size: 20px;
}

.breadcrumb-item.active {
  color: #0366d6!important;
  font-weight: 600;
  
}

.repo-icon {
  
  width: auto;
  height: auto;
  color: black;
  margin-right: 5px;
  opacity: 0.5;
  
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
} 

.comment-number {
  font-size: 12px;
  font-weight: bold;
}

.box-header {
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #F6F8FA;
}

.box-header div {
  font-weight: 600;
}

.opened {
  font-size:22px;
  margin-right: 5px;
}

.form-inline .form-control {
  background: none;
  border: 1px solid #444d56;
}

.header-nav{
  font-weight: 800;
  font-size: 14px;
}

.issue-summary-header .author {
  font-weight: 600;
}